.header {
    background-color: #1E7896;
}
.logoContainer {
    display: inline-block;
}
.logo {
    width: 100px;
}
.menuItem {
    display: inline-block;
}
.menuItem:hover {
    background-color: #FAFAFA;
}
.menuItem > a {
    text-decoration: none;
    color: #FAFAFA;
    font-weight: bold;
    text-transform: capitalize;
    display: inline-block;
    padding: 20px;
}
.menuItem:hover > a {
    color: #1E7896;
    font-weight: bold;
}